<div class="blank-layout-container justify-center items-center bg-lightprimary">
  <div class="relative w-full h-full bg-gredient justify-center">
    <div class="h-full flex items-center sm:px-0 px-3">
      <mat-card class="cardWithShadow boxed-auth mb-0!">
        <mat-card-content class="p-32">
          <div class="text-center flex justify-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
            </a>
          </div>
          <div class="mt-8 text-center">Your Social Campaigns</div>
          <form class="mt-8">
            <mat-label class="mat-subtitle-2 text-sm font-semibold mb-3 block">Name</mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput />
            </mat-form-field>
            <mat-label class="mat-subtitle-2 text-sm font-semibold mb-3 block">Email Adddress</mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput type="email" />
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 text-sm font-semibold mb-3 block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput type="password" />
            </mat-form-field>

            <a [routerLink]="['/']" mat-flat-button color="primary" class="w-full">
              Sign Up
            </a>
          </form>
          <span class="block font-medium text-center mt-6">Already have an Account?

            <a [routerLink]="['/authentication/login']" class="no-underline text-primary font-medium text-sm">
              Sign In</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>