<div class="blank-layout-container justify-center items-center bg-light">
  <div class="relative row w-full h-full bg-gredient justify-center">
    <div class="col-lg-4 flex items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center flex justify-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
            </a>
          </div>


          <div class="mt-8 text-center">our Social Campaigns</div>

          <form class="mt-8">
            <mat-label class="mat-subtitle-2 text-sm font-semibold mb-3 block">Username</mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput />
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 text-sm font-semibold mb-3 block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput type="password" />
            </mat-form-field>

            <div class="flex items-center mb-3">
              <mat-checkbox color="primary">Remember this Device</mat-checkbox>
              <a [routerLink]="['/']" class="text-primary font-semibold no-underline m-l-auto text-sm">Forgot Password
                ?</a>
            </div>
            <a [routerLink]="['/']" mat-flat-button color="primary" class="w-full">
              Sign In
            </a>
            <!-- input -->
          </form>
          <span class="block font-medium text-center mt-6">New to TailwindAdmin?
            <a [routerLink]="['/authentication/register']" class="no-underline text-primary font-medium text-sm">
              Create an account</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>