<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Recent Transactions</mat-card-title>
    <mat-card-subtitle>How to secure recent transactions</mat-card-subtitle>

    <div class="timeline mt-10">
      @for(stat of stats; track stat.title) {
      <div class="timeline-item flex overflow-hidden">
        <div class="time text-right text-sm">{{ stat.time }}</div>
        <div class="point flex items-center">
          <span class="timeline-badge border-{{ stat.color }} my-2"></span>
          <span class="timline-border block"></span>
        </div>
        <div class="desc">
          @if(stat.subtext) {
          <span class="text-sm lh-20">{{ stat.subtext }}</span>
          } @if(stat.title) {
          <span class="text-sm lh-20 font-semibold block">{{ stat.title }}</span>
          } @if(stat.link) {
          <a href="#" class="text-primary no-underline text-sm font-normal">#ML-3467</a>
          }
        </div>
      </div>
      }
    </div>
  </mat-card-content>
</mat-card>